.review-field{
  width: 80%; 
  margin: auto;
  text-align: left;
  background-color: rgb(240, 240, 240);
  padding: 1em;
  border-radius: 0.5em;
  
}
.review-title{
  font-size: 12pt;
}

.text-field{
  padding: .2em;
}
.stars{
  cursor: pointer;
  fill: none;
  stroke: #646464;
  stroke-width: 2px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.star-empty{
  fill: grey; 
  color: grey; 
}

.star-selected{
  color: yellow; 
}