.hero {
  background-color: rgba(38, 9, 201, 0.795);
    /* border-radius:  0px 0px  10px 10px; */
}

#ranktitle p {
  color:white;
}

.breadcrumb li {
  margin-bottom: 0.5rem;
}

.breadcrumb a {
  color: white;
}