.banner-image{
  position: relative;
}
.banner-image img{
  width: 100%; 
  height: 40vh; 
  object-fit: cover;
  overflow: hidden;
}

.banner-text{
  color: white; 
  position: absolute; 
  left: 5rem; 
  bottom: 3rem;
  text-align: left;
}

.banner-text h1{
  font-size: 30pt;
  font-weight: bold;
}
.banner-gradient{
  height: 40vh;
  width: 100%; 
  position: absolute;
  top: 0; 
  left: 0; 
  background: linear-gradient(0deg, black 0%, transparent 100%); 
}