.search-bar{
  width: 40%; 
  margin: auto;
  align-items: center;
}
.nav{
  margin: 0 2rem;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide{
  display: none;
}

@media screen and (max-width: 600px){
  .search-bar{
    width: 85%; 
  }
}