.episodes{
  margin: auto;
}

.episodes li{
  opacity: 0.5;
  cursor: pointer;
  float: left; 
  padding: .5rem;
}

.episodes li:hover{
  transition: opacity 0.5s;
  opacity: 1;
}

.clear{
  clear: left; 
  display: block; 
}

.heartbtn, button{
  position: absolute;
  left: 5%;
}

.insidebtn{
  border: 5px solid rgb(224, 88, 88);
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding: 4px;
}

.insidebtn .favorite{
  /* height: 20px;
  width: 40px; */
  font-size: 21px;
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.insidebtn :hover{
  transition: 0.5s;
  background: rgb(224, 88, 88);
}
@media screen and (max-width: 600px){
  .episodes li{
  float: none; 
    padding-right: 0; 
  }
}