.episodes{
  margin: auto;
}
.episodes li{
  float: left; 
  padding: .5rem;
}

.clear{
  clear: left; 
  display: block; 
}
@media screen and (max-width: 600px){
  .episodes li{
  float: none; 
    padding-right: 0; 
  }
}