.login-card{
  position: absolute; 
  text-align: left;
  top: 100%; 
  right: 0; 
}

.horizontal-line{
  height: 2px; 
  background-color: grey;
  width: 100%;
  margin: 1rem 0;
  opacity: .5;
}

.login-card p{
  padding: 1rem 0 ;
}